.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 420px;
    width: 440px;
    background-color: blue
}
.square {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
}