.login-btn {
    background-color: #80006D;
    color: white;
    border: none;
    font-size: large;
}

.login-btn:hover {
    background-color: white;
    color: #80006D;
    border: 1px solid #80006D;
}

a {
    color: #80006D;
}